# Copy this file to secrets.yaml and replace placeholders with real values.
# Do not commit the real secrets.yaml file.

wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"

# esp-printer01-power.yaml
printer01_api_key: "BASE64_API_KEY_HERE"
printer01_ota_password: "REPLACE_ME"
printer01_fallback_ap_password: "REPLACE_ME"

# esp-printer02-power.yaml
printer02_api_key: "BASE64_API_KEY_HERE"
printer02_ota_password: "REPLACE_ME"
printer02_fallback_ap_password: "REPLACE_ME"

# esp-printer03-power.yaml
printer03_api_key: "BASE64_API_KEY_HERE"
printer03_ota_password: "REPLACE_ME"
printer03_fallback_ap_password: "REPLACE_ME"

# esp-printer04-power.yaml
printer04_api_key: "BASE64_API_KEY_HERE"
printer04_ota_password: "REPLACE_ME"
printer04_fallback_ap_password: "REPLACE_ME"

# esp-printer05-power.yaml
printer05_api_key: "BASE64_API_KEY_HERE"
printer05_ota_password: "REPLACE_ME"
printer05_fallback_ap_password: "REPLACE_ME"

# esp-printer06-power.yaml
printer06_api_key: "BASE64_API_KEY_HERE"
printer06_ota_password: "REPLACE_ME"
printer06_fallback_ap_password: "REPLACE_ME"
